<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<connectionStrings>
    <add name="DataSetDemoDb" connectionString="data source=JHB-JACOBGOREDE\SQLEXPRESS;initial catalog=EmployeeADODB;integrated security=True;"
        providerName="System.Data.EntityClient" />
    <add name="DataSetDemoApplication.Properties.Settings.EmployeeADODBConnectionString"
        connectionString="Data Source=JHB-JACOBGOREDE\SQLEXPRESS;Initial Catalog=EmployeeADODB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>